.u-text-center {text-align: center !important;}

// margin-bottom-small|medium|big
.u-mb-s {margin-bottom: 1.5rem !important;}
.u-mb-m {margin-bottom: 4rem !important;   }
.u-mb-b {margin-bottom: 8rem !important;}

// margin-top-small|medium|big
.u-mt-s {margin-top: 1.5rem !important;}
.u-mt-m {margin-top: 4rem !important;}
.u-mt-b {margin-top: 8rem !important;}

//paddint-top-small|medium|big
.u-pt-s {padding-top: 1.5rem !important;}
.u-pt-m {padding-top: 4rem !important;}
.u-pt-b {padding-top: 8rem !important;}